@using Web.Helpers
@model Web.Controllers.UserRolesViewModel
@using Shared.Models

<form action="@Url.Action("EditRoles","Users")" method="post" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Cập nhật Roles" })
    <div class="panel-body">
        <div class="row">
            @Html.HiddenFor(m => m.UserId)

            <div class="form-group">
                <label class="col-sm-2 control-label">Danh sách roles:</label>
                <div class="col-sm-10">
                    @for (var i = 0; i < Model.UserRoles.Count(); i++)
                    {
                        <label class="checkbox-inline">
                            <input type="checkbox" name="SelectedRoles" value="@Model.UserRoles[i].Value" checked="@Model.UserRoles[i].Selected"> @Model.UserRoles[i].Text
                        </label>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { })
</form>
<script>
    $("form").submit(function (event) {
        event.preventDefault();
        let url = $("form").attr('action');
        let data = $("form").serialize();
        $.when(sys.CallAjax(url, data))
            .done(function (response) {
                $('#modal-action').modal('hide');
                sys.Alert(response.status, response.message);
                $('table').DataTable().ajax.reload(null, false);
            })
            .fail(function (error) {
                sys.Alert(false, "Có lỗi xảy ra, vui lòng thử lại!");
            });
    });
</script>