<aside class="app-aside">
    <!-- .aside-content -->
    <div class="aside-content">
        <!-- .aside-header -->
        <header class="aside-header d-block d-md-none">
            <!-- .btn-account -->
            <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
                <span class="user-avatar user-avatar-lg">
                    <img src="~/Content/assets/images/avatars/profile.jpg" alt="">
                </span>
                <span class="account-icon">
                    <span class="fa fa-caret-down fa-lg"></span>
                </span>
                <span class="account-summary">
                    <span class="account-name">Beni Arisandi</span>
                    <span class="account-description">Marketing Manager</span>
                </span>
            </button>
            <!-- /.btn-account -->
            <!-- .dropdown-aside -->
            <div id="dropdown-aside" class="dropdown-aside collapse">
                <!-- dropdown-items -->
                <div class="pb-3">
                    <a class="dropdown-item" href="user-profile.html">
                        <span class="dropdown-icon oi oi-person"></span> Profile
                    </a>
                    <a class="dropdown-item" href="auth-signin-v1.html">
                        <span class="dropdown-icon oi oi-account-logout"></span> Logout
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Help Center</a>
                    <a class="dropdown-item" href="#">Ask Forum</a>
                    <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
                </div>
                <!-- /dropdown-items -->
            </div>
            <!-- /.dropdown-aside -->
        </header>
        <!-- /.aside-header -->
        <!-- .aside-menu -->
        <section class="aside-menu has-scrollable">
            <!-- .stacked-menu -->
            <nav id="stacked-menu" class="stacked-menu">
                <!-- .menu -->
                <ul class="menu">
                    @foreach (var item in Model)
                    {
                        <!-- co item con -->
                        if (item.Childrens.Count > 0)
                        {
                            <li class="menu-item has-child">
                                <a href="#" class="menu-link">
                                    <span class="menu-icon oi oi-grid-two-up"></span>
                                    <span class="menu-text">@item.Name</span>
                                </a>
                                <!-- child menu -->
                                <ul class="menu">
                                    @foreach (var itemChild in item.Childrens)
                                    {
                                        <li class="menu-item">
                                            <a href="@itemChild.Url" class="menu-link">@itemChild.Name</a>
                                        </li>

                                        <li><a href="@itemChild.Url">@itemChild.Name</a></li>
                                    }
                                </ul>
                                <!-- /child menu -->
                            </li>
                        }
                        else
                        {
                            <li class="menu-item">
                                <a href="@item.Url" class="menu-link">
                                    <span class="menu-icon oi oi-fire"></span>
                                    <span class="menu-text">@item.Name</span>
                                </a>
                            </li>
                        }
                    }
                </ul>

                <!-- /.menu -->
            </nav>
            <!-- /.stacked-menu -->
        </section>
        <!-- /.aside-menu -->
    </div>
    <!-- /.aside-content -->
</aside>

