@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<!-- .card -->
<section class="card">
    <!-- .card-body -->
    <div class="card-body">
        <fieldset>
            <legend>@ViewData["Title"].</legend>
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
                <hr />
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="form-label-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.LabelFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </fieldset>
    </div>
    <!-- /.card-body -->
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
