@model Shared.Models.MenuViewModel
@using Shared.Models

<form action="@Url.Action("Edit","Menu")" method="post" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Cập nhật menu" })
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Menu Cha</label>
                    @Html.HiddenFor(m => m.Id)
                    @Html.DropDownListFor(model => model.ParentId, new SelectList(Model.Parent, "Value", "Text"), "- Chưa chọn -", new { @class = "form-control select2", style = "width:100%" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tên Menu</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Đường dẫn</label>
                    @Html.TextBoxFor(m => m.Url, new { @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Icon</label>
                    @Html.TextBoxFor(m => m.Icon, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Thứ tự hiển thị</label>
                    @Html.TextBoxFor(m => m.Order, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Hoạt động</label>
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.IsActive)
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { })
</form>
<script>
    $('.select2').select2();

    $("form").submit(function (event) {
        event.preventDefault();
        let url = $("form").attr('action');
        let data = $("form").serialize();
        $.when(sys.CallAjax(url, data))
            .done(function (response) {
                $('#modal-action').modal('hide');
                sys.Alert(response.status, response.message);
                $('table').DataTable().ajax.reload(null, false);
            })
            .fail(function (error) {
                sys.Alert(false, "Có lỗi xảy ra, vui lòng thử lại!");
            });
    });
</script>