@model Web.Controllers.CreateRoleViewModel
@using Shared.Models

<div class="modal-content">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Thêm phân quyền" })
    <div class="modal-body">
        <form action="@Url.Action("Create","Roles")" method="post" role="form">
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.Name)
                </div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { })
</div>

<script>
    $("form").submit(function (event) {
        event.preventDefault();
        let url = $("form").attr('action');
        let data = $("form").serialize();
        $.when(sys.CallAjax(url, data))
            .done(function (response) {
                $('#modal-action').modal('hide');
                sys.Alert(response.status, response.message);
                //$('table').DataTable().ajax.reload(null, false);
            })
            .fail(function (error) {
                sys.Alert(false, "Có lỗi xảy ra, vui lòng thử lại!");
            });
    });
</script>